@import '../styles/screen';
.NavbarMain {
    display: flex;
    justify-content: space-between;
    @include devices(mobile) {
        height: 60px;
        background-color: white;
    }
}

.gridIsLoggedIn{
    display: flex;
    align-items: center;
    justify-content: end;
    float: right;
}

.navLinksUl {
    display: none;
    justify-content: center;
    align-items: center;
    margin: 0 0em 0 0.5em;
    grid-column: auto;
    text-decoration: underline;
    
    @include devices(mobile) {
        display: flex;
    }

    li{
        margin: 0;
        color: rgb(2, 104, 145);

        &:hover {
            color: white;
            background-color: rgb(2, 104, 145);
            transition: 0.5s;
        }

        @include devices(mobile) {
            padding: 0 0.5rem;
        }

        @include devices(tablet) {
            padding: 0 1rem;
        }
        
        @include devices(desktop) {
            padding: 0 2rem;
        }

    }

}

.header {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
