@import '../styles/screen';
.NavbarMain {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-content: center;
    
    @include devices(desktop) {
        height: 60px;
    }
}

.gridIsLoggedIn{
    display: flex;
    justify-content: flex-start;
    padding-left: 0.5em;
    align-items: center;

    @include devices(tablet) {
        display: none;
    }
}

.navLinksUl {
    display: none;
    justify-content: center;
    align-items: center;
    margin: 0 0.5em;

    @include devices(tablet) {
        display: flex;
    }

    li{
        
        @include devices(tablet) {
            padding: 0 0.5em;
        }

        @include devices(desktop) {
            padding: 0 1.5em;
        }

        &:hover {
            color: rgb(6, 80, 109);
        }
    }
}
