.NavbarMain {
    display: grid;
    grid-template-columns: repeat(6,1fr);

    
}

.gridIsLoggedIn{
    display: flex;
    justify-content: flex-start;
    grid-column-start: 1;
    grid-column-end: 3;
    
}