.BannerImg {
    object-fit: cover;
    width: 100%;
    overflow: hidden;
}

// .imgHold {
//     overflow: hidden;
//     &::before {
//         content: 'hi';
//         position: absolute;
//         z-index: 1;
//         height:100%;
//         width: 100%;
//         background-color: rgba(1, 17, 26, 0.616);
//     }
// }