@import '../../../styles/screen';
.NavbarMain {
    display: flex;
    justify-content: space-between;
    @include devices(mobile) {
        height: 60px;
        background-color: rgb(255, 255, 255);
    }
}

.FanAndIsLoggedIn{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    float: right;
    margin: 0 0em;
    @include devices(desktop) {
        margin: 0 1em;
    }    

}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: 0.4s;
    gap: 2em;
}
.navLinksUl {
    display: none;
    justify-content: center;
    align-items: center;
    grid-column: auto;
    
    @include devices(mobile) {
        display: flex;
    }

    li{
        margin: 0;
        color: rgb(2, 104, 145);

        &:hover {
            transition: 0.5s;
        }

        // @include devices(mobile) {
        //     padding: 0 0.5rem;
        // }

        // @include devices(tablet) {
        //     padding: 0 1rem;
        // }
        
        // @include devices(desktop) {
        //     padding: 0 2rem;
        // }

    }

}

.header {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.favPopup {
    position: absolute;
    width: 200px;
    right: 0;
    transition: 0.3s ease-out ;
    background-color: rgba(233, 235, 236, 0.986);
    z-index: -2;
    overflow: auto;

    &__show{
        height: 340px;
        margin-top: 60px;
        
    }
    &__hide {
        height: 0px;
    }
}
