// $breakpoint is the variable that can have several values
 @mixin devices ($breakpoint) { //the name of the mixin is devices
  
    @if $breakpoint == mobile {
        @media only screen and (min-width: 640px) {
            @content;
        }
    }

    @if $breakpoint == tablet {    
    @media only screen and (min-width: 768px) {
      @content;
    }
    }

    @if $breakpoint == desktop {
    @media only screen and (min-width: 1024px) {
        @content;
    }
    }
}