@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  position: relative;
}
.cls-1 {
  fill: #0a8cb4;
}
.cls-3 {
  fill: #f2af34;
}
.cls-4 {
  fill: #45b6f8;
}
.cls-5 {
  fill: #c1edfe;
}
.cls-6 {
  fill: #fff;
}
.cls-7 {
  fill: #bfecff;
}
.cls-9 {
  fill: #c1e8fa;
}
.cls-10 {
  fill: #1681c0;
}
.cls-11 {
  fill: #c0e7fa;
}

.scroll {
}
/* width */
.scroll::-webkit-scrollbar {
  height: 8px;
}

/* Track */
.scroll::-webkit-scrollbar-track {
  background: rgb(14, 116, 214, 0.3);
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
  background: rgb(14, 116, 214);
}

/* Handle on hover */
.scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.map-container {
  width: 100%;
  height: 400px;
  position: relative;
  border: 10px solid #1681c0;
  border-radius: 5px;
}
