.after {
    animation: anim 0.2s ease-in-out;
    animation-fill-mode: forwards; 
    opacity: 1;
    transition: 1s;  
}

@keyframes anim {
    0% {
        transform: translateX(50px);
        opacity: 0;

    }

    100% {
        transform: translateX(0px);
        opacity: 100;

    }
}