.after {
  opacity: 1;
  transition: 0.2s linear;
  transition-property: width;
  position: fixed;
  z-index: 20;
  height: 100vh;
  width: 100%;
  right: 0;
  top: 0;
  background-color: rgb(255, 254, 254);

  &__hidden {
    width: 0;
  }
}

.a {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 1.4em;
  cursor: pointer;
  color: rgb(15, 160, 335);
  gap: 5px;
  &:hover {
    background-color: rgb(201, 206, 211);
  }
}

.sidebarHeader {
  background-color: rgb(230, 230, 230);
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-between;

  .logo {
    height: 2em;
    width: 2em;
    color: gray;

    &:hover {
      cursor: pointer;
      background: silver;
      transform: scale(1.2);
    }
  }

  .svg {
    height: 2em;
    width: 2em;
    color: red;
  }
}

.ul {
  align-self: center;
}
